.donationsContainer {
    background-color: rgb(241, 234, 226);
    text-align: center;
    padding: 20px 0;
    color: rgb(49, 48, 48);

    &__title {

        &--icon {

        }
    }

    &__missionDescription {
        margin-top: 10px; 
    }

    &__howToSection {
        margin-top: 20px; 

        &--title {

        }

        &--description {

        }
    }

    
}