.headerContainer {
    display: flex;
    //justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    gap: 20px; 


    &__titlesContainer {
        text-align: center;
        //margin-left: 20px;
        //align-self: center;
        //margin-right: 10%;
        color: rgb(149, 191, 210);
        flex-grow: 1;
    

        &--mainTitle {
            //margin-left: 20px;
            color: rgb(152, 184, 202);
            font-size: 27px;

            @media screen and (min-width: 650px ) {
                font-size: 35px;
            }

            @media screen and (min-width: 800px ) {
                font-size: 40px;
            }

            @media screen and (min-width: 950px ) {
                font-size: 45px;
            }

            @media screen and (min-width: 1020px ) {
                font-size: 45px;
            }
        }
    
        &--subtitle {
            margin-left: 20px;
            color: rgb(152, 184, 202);

            @media screen and (min-width: 800px ) {
                font-size: 30px;
            }
        }
    }

    
    &__menuContainer {
        //margin-left: 100px; 
        padding-right: 30px; 
       
        color: rgb(133, 174, 193);

        &--menu {
            list-style-type: none;
            display: flex;
            flex-direction: column;


            .menuElement {
                align-self: self-end;

            }

            .menuElementFlag {
                color: rgb(184, 192, 191);
                display: flex;
                cursor: pointer; 

                &__flag {
                    width: 15px; 
                    margin-right: 5px;
                }

                &__flagArrow {
                    margin-left: 5px; 
                }
            }
        }
    }
}